* {
  box-sizing: border-box;
}

body {
  background-color: #525564;
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
}

.square {
  width: 16px;
  height: 16px;
  background-color: #74828f;
  margin: 2px;
  box-shadow: 0 0 2px #1d1d1d;
  transition: 0.6 s ease;
}

.square:hover {
  transition-duration: 0s;
}
